<EditForm Model="ModelBook" OnSubmit="GetBookById">
    <InputNumber id="getBookById" @bind-Value="BookId"/>
               
    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

@if (Book is null)
{
    @Render
}
else
{
    <p>@Book.Title</p>
    <p>@Book.Author</p>
    <p>@Book.PagesCount</p>
    <p>@Book.PublishDate.ToString("dd.MM.yyyy")</p>
}