<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>PagesCount</th>
            <th>PublishDate</th>
        </tr>
        </thead>
    </table>
</div>