@page "/studio/create"

<div class="row">
    <div class="col">
        <h1 class="text-info">Create Developer Studio</h1>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <DeveloperPageForm Developer="_developer" OnValidSubmitHandler="Create"/>
    </div>
    <div class="col">

    </div>
</div>

@code {
    GameDeveloper _developer = new();

    void Create()
    {
        //TODO: Creating studio logic
    }
}
