

<div class="row">
    <div class="col text-center">
        <h1>Welcome!</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>Show all games!</h1>
    </div>
</div>

<GameListTable Games="_games" />

@code{

    private List<Game> _games;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        
        _games = new List<Game>
        {
            new()
            {
                Name = "Denis",
                Genre = "Male",
                ReleaseDate = new DateTime(2003, 08, 23)
            },
            new()
            {
                Name = "Info",
                Genre = "Happy",
                ReleaseDate = new DateTime(2002, 01, 25)
            }
        };
    }
}