@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LoginLink{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
    </li>
}

@section RegisterLink{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
    </li>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

