@page "/games/create"

@inject NavigationManager _manager
@inject IGameImageService _gameService
@inject IGenreImageService _genreService

<div class="row">
    <div class="col">
        <h1 class="text-info text-center text-uppercase">Create Game</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <GameForm Game="_game" OnValidSubmit="AddNewGame" NotSelectedGenres="_notSelectedGenres"/>
    </div>
</div>

@code {
    GameImage _game = new();
    List<GenreImage> _notSelectedGenres = new();

    protected override void OnInitialized()
    {
        _notSelectedGenres = _genreService.GetAllGenres();
    }

    void AddNewGame()
    {
        var result = _gameService.CreateNewGame(_game);

        if (result)
        {
            _manager.NavigateTo("/games");
        }
    }
}
