<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>PagesCount</th>
            <th>PublishDate</th>
        </tr>
        </thead>
    </table>
</div>
<EditForm Model="@FormBook" OnSubmit="@Submit">
    <InputText id="title" @bind-Value="FormBook.Title" />
    <InputText id="author" @bind-Value="FormBook.Author" />
    <InputNumber id="pagesCount" @bind-Value="FormBook.PagesCount" />
    <InputDate id="publishDate" @bind-Value="FormBook.PublishDate" />
        
    <button class="btn btn-primary" type="submit">Submit</button>
        
</EditForm>