<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>PagesCount</th>
            <th>PublishDate</th>
            <th>Price</th>
        </tr>
        </thead>    
    </table>
</div>
<EditForm Model="@Book" OnSubmit="Submit">
    <InputText id="title" @bind-Value="Book.Title"/>
    <InputText id="author" @bind-Value="Book.Author"/>
    <InputNumber id="pagesCount" @bind-Value="Book.PagesCount"/>
    <input type="datetime-local" step="2" @bind="Book.PublishDate"/>
    <InputNumber id="price" @bind-Value="BookPrices.Price" />

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>