@if (Book is not null)
{
    <span><strong>Title: </strong>@Book.Title</span>
    <br />
    <span><strong>Author: </strong>@Book.Author</span>
    <br />
    <span><strong>PagesCount: </strong>@Book.PagesCount</span>
    <br />
    <span><strong>PublishDate: </strong>@Book.PublishDate</span>
    <br />
}
